body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background:#f6e0c5;
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

.gradient-text {
  background: linear-gradient(359.72deg, #d4a875 40%, #e9c189 50%, #f1d3b1 60%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
